body {
    align-items: center;
    text-align: center;
    color: rgb(50, 50, 50);
}

div {
    margin: 10px;
}

textarea {
    resize: none;
}

p {
    font-size: large;
}

.widget {
    display: inline-block;
    border: 2px solid rgb(144, 144, 144);
}

.widget-header {
    border-bottom: 1px solid rgb(144, 144, 144);
}

.note-list {
    text-align: left;
}

.note-date {
    text-align: right;
}

.social-media-list div {
    display: inline-block;
    margin: 0px;
}

.social-media-list p {
    display: inline-block;
    text-align: left;
    margin: 0px;
    font-weight: 500,
}

.social-media-list a {
    text-decoration: none;
    margin-left: 8px;
    font-weight: 500;
}

.social-media-list button {
    border-radius: 50px;
    font-size: 11px;
    border: 0;
    padding: 4px 9px;
    margin-left: 20px;
}

.weather-img {
    border: 1px solid black;
    border-radius: 50px;
    background-color: #c4c4c4;
    width: 60px;
    margin: 5px;
}